version: '3.9'
services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: labourconnect
    ports:
      - "5000:5000"
    depends_on:
      - mongo

volumes:
  mongo-data:
